.ins-l-card{
    border-top: 3px solid var(--pf-global--primary-color--100);
    height: 100%;
}

.ins-l-sigStat {
margin: 15px 0px
}

.ins-l-sigStatCard {
    margin-top: 30px
    }

.ins-l-sigStatNum {
    padding-left: 0px;
}
