@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

.ins-l-malwareBanner {
    text-align: center;
}

.ins-l-common--BackgroundColor {
    background-color: var(--pf-global--BackgroundColor--100);
}

.ins-l-danger-color {
    color: var(--pf-global--danger-color--100) !important;
}

.ins-l-success-color {
    color: var(--pf-global--success-color--100) !important;
}